.discography {
  @include paddingComponent();

  h1 {
    @include grid-cell(12);
    @include typography('h2');

    margin-bottom: 72px;
    text-align: center;
  }

  &-discs {
    @include grid-cell(12);

    @include respond-to('medium_large') {
      @include grid-pre(1);
      @include grid-cell(10);
    }

    display: flex;
  }

  &-disc {
    @include grid-cell(12);

    @media only screen and (min-width: 620px) {
      @include grid-cell(6);
    }

    @include respond-to('medium_large') {
      @include grid-cell(3, 10);
      max-width: 33.33%;
      width: 33.33%;
    }
    margin-bottom: 32px;
  }
}