// @import './fonts.scss';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $color-offBlack;
  font-size: 16px;
  font-family: acumin-pro, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

body {
  background-color: $color-offBlack;
  color: $color-white;
  font-family: acumin-pro, Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  &.body-locked {
    overflow: hidden;
    height: 100vh;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

p {
  color: $color-black;
  margin: 0;
}

a {
  color: $color-black;
  // font-family: 'Moderat-Bold';
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


img {
  display: block;
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
