$font-family-default: 'Moderat-Medium', 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
$font-family-light: 'Moderat-Light', 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
$font-family-bold: 'Moderat-Bold', 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
$min_width: 375px;
$max_width: 1280px;

// Typography
// fontSize and lineHeight contain a list of 2 values (ordered)
// representing the sizes for desktop and mobile
// Use: @include typography('typo-name');

$font-specifications: (
  stage: (
    fontSizes: (
      60px,
      48px,
    ),
    fontFamily: $font-family-bold,
    fontWeight: 700,
    lineHeights: (
      1.1,
      1.1,
    ),
  ),
  h1: (
    fontSizes: (
      50px,
      40px,
    ),
    fontFamily: $font-family-bold,
    fontWeight: 700,
    lineHeights: (
      1.3,
      1.3,
    ),
  ),
  h2: (
    fontSizes: (
      38px,
      34px,
    ),
    fontFamily: $font-family-bold,
    fontWeight: 700,
    lineHeights: (
      1.3,
      1.3,
    ),
  ),
  h3: (
    fontSizes: (
      28px,
      25px,
    ),
    fontFamily: $font-family-bold,
    fontWeight: 700,
    lineHeights: (
      1.3,
      1.3,
    ),
  ),
  h4: (
    fontSizes: (
      20px,
      20px,
    ),
    fontFamily: $font-family-bold,
    fontWeight: 700,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  copy: (
    fontSizes: (
      18px,
      16px,
    ),
    fontFamily: $font-family-default,
    fontWeight: 500,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  copy-bold: (
    fontSizes: (
      18px,
      16px,
    ),
    fontFamily: $font-family-bold,
    fontWeight: 700,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  copy-light: (
    fontSizes: (
      18px,
      16px,
    ),
    fontFamily: $font-family-light,
    fontWeight: 300,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  paragraph: (
    fontSizes: (
      16px,
      16px,
    ),
    fontFamily: $font-family-default,
    fontWeight: 500,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  paragraph-bold: (
    fontSizes: (
      16px,
      16px,
    ),
    fontFamily: $font-family-bold,
    fontWeight: 700,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  paragraph-light: (
    fontSizes: (
      16px,
      16px,
    ),
    fontFamily: $font-family-light,
    fontWeight: 300,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  cta: (
    fontSizes: (
      16px,
      16px,
    ),
    fontFamily: $font-family-default,
    fontWeight: 500,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  cta-small: (
    fontSizes: (
      12px,
      12px,
    ),
    fontFamily: $font-family-default,
    fontWeight: 500,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  label-light: (
    fontSizes: (
      14px,
      14px,
    ),
    fontFamily: $font-family-light,
    fontWeight: 300,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  label: (
    fontSizes: (
      14px,
      14px,
    ),
    fontFamily: $font-family-default,
    fontWeight: 500,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  label-small: (
    fontSizes: (
      12px,
      12px,
    ),
    fontFamily: $font-family-default,
    fontWeight: 500,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  label-small-light: (
    fontSizes: (
      12px,
      12px,
    ),
    fontFamily: $font-family-light,
    fontWeight: 300,
    lineHeights: (
      1.4,
      1.4,
    ),
  ),
  mobile-nav: (
    fontSizes: (
      55px,
      55px,
    ),
    fontFamily: $font-family-bold,
    fontWeight: 700,
    lineHeights: (
      1.3,
      1.3,
    ),
  )
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@mixin typography($name) {
  @if not map-has-key($font-specifications, $name) {
    @warn "Warning: `#{$name}` is not a valid font name.";
  } @else {
    $family: map-deep-get($font-specifications, $name, 'fontFamily');
    $sizes: map-deep-get($font-specifications, $name, 'fontSizes');
    $weight: map-deep-get($font-specifications, $name, 'fontWeight');
    $heights: map-deep-get($font-specifications, $name, 'lineHeights');
    $transform: map-deep-get($font-specifications, $name, 'textTransform');

    font-family: $family;
    font-size: nth($sizes, 2);
    font-weight: $weight;
    line-height: nth($heights, 2);

    @if $transform {
      text-transform: $transform;
    }

    @include respond-to('small') {
      font-size: nth($sizes, 1);
      line-height: nth($heights, 1);
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
