.content {
  height: calc(100vh - 165px); /* Fallback */
  height: calc(var(--vh, 1vh) * 100 - 165px);
  left: 0;
  position: fixed;
  top: 65px;
  width: 60%;
  transform-origin: left;

  &-container {
    height: 100%;
  }

  &-panel {
    @include grid-cell(12);

    align-items: center;
    background-color: $color-offBlack;
    display: flex;
    height: calc(100vh - 165px); /* Fallback */
    height: calc(var(--vh, 1vh) * 100 - 165px);
    padding-left: 10vw;
  }
}