.main {
  background-color: $color-white;
  display: flex;
  position: relative;

  &-video {
    height: calc(100vh - 120px );
    height: calc(var(--vh, 1vh) * 100 - 120px);
  }

  &-content {
    padding-top: 60px;
    padding-bottom: 120px;
    // @include paddingComponent();
    // height: calc(100vh - 60px );
    // height: calc(var(--vh, 1vh) * 100 - 60px);
    width: 100%;
  }

  &-showsTitle,
  &-newsTitle {
    @include typography('h3-bold');
    @include grid-cell(12);

    margin-bottom: 48px;
    text-align: center;
  }

  &-newsContainer {
    margin-bottom: 60px;
  }
}