.main {
  background-color: $color-offBlack;
  display: flex;
  position: relative;
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);

  // &-wrapper {
  //   @include grid-wrapper();
  // }

  // &-container {
  //   @include grid-container();
  // }

  &-content {
    width: 100%;
  }
}