.intro {
  background-color: #000;
  display: flex;
  position: relative;
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);

  &-title {
    font-size: 5vw;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.3;
    padding-top: 1vw;
    padding-left: 1vw;
    position: absolute;
    text-transform: uppercase;
    // z-index: 1;

    &.is-open {
      transform: translateX(0);
    }
  }

  &-clickToPlay {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    text-transform: uppercase;
  }

  &-video {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

   img {
     object-fit: cover;
   }
  }

  &-menu {
    position: fixed;
    top: 1vw;
    right: 1vw;
  }

  &-list {
    display: flex;

    &Item {
      font-size: 2vw;
      // margin: 0 20px;
      position: relative;
      // text-transform: uppercase;

      button {
        appearance: none;
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 2vw;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 200;
        font-style: normal;
        margin: 0 20px;
        padding: 0;
        position: relative;
        // text-transform: uppercase;

        &:after {
          background-color: #fff;
          bottom: -1px;
          content: '';
          display: block;
          height: 1px;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.15s ease;
          position: absolute;
          width: 100%;
        }

        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &-slideInMenu {
    background-color:#D5D5D5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    mix-blend-mode: difference;
    transition: transform 0.3s ease;

    &.is-open {
      transform: translateX(0);
    }

    &Close {
      appearance: none;
      background-color: transparent;
      border: none;
      color: #000;
      cursor: pointer;
      font-size: 1rem;
      position: absolute;
      top: 1vw;
      left: 20px;
      padding: 0;
    }
  }

  &-content {
    background-color: rgba(#fff, 0.6);
    height: 100%;
    width: 33%;
    color: #000;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.5;
    padding: 20px 20px 3vw;
    align-items: flex-end;
    position: relative;
    opacity: 0;
    mix-blend-mode: luminosity;

    &.is-open {
      
    }
  }
}