.intro {
  background-color: #000;
  display: flex;
  position: relative;
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);

  &-overlay {
    background-color: #000;
    // position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

  .clip-path {
    clip-path: url(#triangle);
    position: relative;

    // &:after {
    //   content: "";
    //   position: absolute;
    //   background: #fff;
    //   clip-path: url(#triangle);
    //   top: 3px;
    //   left: 3px;
    //   right: 3px;
    //   bottom: 3px;
    // }
  }

  .clip-svg {
    width: 0;
    height: 0;
  }

  &-mv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-title {
    font-size: 4vw;
    // font-family: neue-haas-unica, sans-serif;
    // font-weight: 600;
    // font-style: normal;
    height: 100%;
    line-height: 1.3;
    mix-blend-mode: difference;
    opacity: 0;
    padding: 3vw 2vw;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    // z-index: 1;
    
    h1 {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }

    &-one {
      display: flex;
      justify-content: space-between;
    }

    &.is-open {
      transform: translateX(0);
    }
  }

  &-clickToPlay {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    text-transform: uppercase;
  }

  &-video {
    background-color: #000;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

   img {
     object-fit: cover;
   }
  }

  &-black-overlay {
    background-color: #000;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &-menu {
    position: fixed;
    top: 1vw;
    right: 1vw;
  }

  &-list {
    display: flex;

    &Item {
      font-size: 2vw;
      // margin: 0 20px;
      position: relative;
      // text-transform: uppercase;

      button {
        appearance: none;
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.5vw;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 200;
        font-style: normal;
        margin: 0 20px;
        padding: 0;
        position: relative;
        text-transform: uppercase;

        &:after {
          background-color: #fff;
          bottom: -1px;
          content: '';
          display: block;
          height: 1px;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.15s ease;
          position: absolute;
          width: 100%;
        }

        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &-slideInMenu {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    mix-blend-mode: difference;
    transition: transform 0.3s ease;

    &.is-open {
      transform: translateX(0);
    }

    &Close {
      appearance: none;
      background-color: transparent;
      border: none;
      color: #000;
      cursor: pointer;
      font-size: 1rem;
      position: absolute;
      top: 1vw;
      left: 20px;
      padding: 0;
    }
  }

  &-content {
    background-color: rgba(#fff, 0.6);
    height: 100%;
    width: 33%;
    color: #000;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.5;
    padding: 20px 20px 3vw;
    align-items: flex-end;
    position: relative;
    opacity: 0;
    mix-blend-mode: luminosity;

    &.is-open {
      
    }
  }

  &-wave {
    display: flex;
    

    &Wrapper {
      display: flex;
      // width: 100px;
      align-items: center;
      // flex-wrap: wrap;
      justify-content: space-between;
      position: fixed;
      bottom: 50px;
      right: 50px;
    }
  }

  &-soundBar {
    background-color: #fff;
    display: block;
    margin: 0 2px;
    height: 6px;
    width: 1px;
  }

  &-play {
    fill: #fff;
    flex-shrink: 1;
  }

  &-socialMedia {
    display: flex;
    justify-content: flex-end;
  }

  &-facebook {
    fill: #fff;
    // margin-top: 32px;
    margin-left: 20px;
  }
}