.contact {
  @include paddingComponent();

  height: calc(100vh - 60px);
  height: calc(var(--vh, 1vh) * 100 - 60px);

  &-headline {
    @include typography('p');
    @include grid-cell(12);
  }

  &-subline {
    @include grid-cell(12);
    @include typography('h3-bold');
    margin-bottom: 48px;

    @include respond-to(medium) {
      @include grid-pre(1);
      @include grid-cell(11);
    }
  }

  &-text {
    @include grid-cell(12);
    @include typography('p');

    @include respond-to(medium) {
      @include grid-pre(1);
      @include grid-cell(4);
    }
  }
}