.header {
  background-color: $color-white;
  width: 100%;
  position: fixed;
  z-index: 1;

  &-content {
    @include grid-cell(12);

    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 65px;
  }

  &-headline {
    @include typography('title');
    color: $color-black;
    letter-spacing: 5px;

    &Link {
      color: $color-black;
    }
  }

  &-burgerIcon {
    height: 20px;

    &:focus {
      outline: none;
    }

    &.is-active {
      z-index: 1;
    }
  }

  &-menu {
    @include respond-to-max('medium') {
      background-color: $color-black;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(100%);
      transition: all 0.3s ease-in;

      &.is-active {
        transform: translateX(0);
        transition: all 0.3s ease-out;
      }
    }
  }

  &-menuList {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;

    @include respond-to('medium') {
      display: flex;
      flex-direction: row;
    }

    &Item {
      @include typography('p');

      margin-left: 20px;
      text-transform: uppercase;
    }

    &Link {
      @include typography('menu-mobile');

      @include respond-to('medium') {
        @include typography('link');
      }

      position: relative;

      &:after {
        background-color: $color-black;
        content: '';
        display: block;
        height: 2px;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform 0.2s;
        width: 100%;
      }

      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }

      &.is-active {
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }

  &-burger {
    color: $color-black;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 24px;

    @include respond-to('medium') {
      display: none;
    }

    &.is-active {
      color: $color-white;
      z-index: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &-iconLink {
    color: $color-white;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-socialMedia {
    display: inline-flex;

    @include respond-to('medium') {
      display: none;
    }
  }

  &-icons {
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  &-instagram {
    width: 24px;
    height: 24px;
  }

  &-soundcloud {
    fill: $color-white;
    width: 35px;
    height: 33px;
  }

  &-spotify {
    fill: $color-white;
    height: 24px;
    width: 24px;
  }

  &-facebook {
    fill: $color-white;
    height: 24px;
    width: 24px;
  }

  &-bandcamp {
    fill: $color-white;
    width: 40px;
    height: 40px;
  }
}

.hamburger {
  padding: 0;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $color-white;
}

.hamburger-box {
  width: 27px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 27px;
  height: 2px;
  background-color: $color-black;
  border-radius: 1px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}