.video {
  @include grid-cell(12);
  display: flex;
  transition: all 0.3s ease-out 0.4s;
  transform-origin: left;

  &.menu-open {
    transform: scaleX(0.8);
    transition: all 0.3s ease-out;
  }

  &-video {
    height: calc(90vh - 65px); /* Fallback */
    height: calc(var(--vh, 1vh) * 90 - 65px);
    object-fit: cover;
  }
}