.footer {
  background-color: $color-black;
  

  &-content {
    @include grid-cell(12);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  &-icons {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &-iconLink {
    color: $color-white;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-instagram {
    width: 24px;
    height: 24px;
  }

  &-soundcloud {
    fill: $color-white;
    width: 35px;
    height: 33px;
  }

  &-spotify {
    fill: $color-white;
    height: 24px;
    width: 24px;
  }

  &-bandcamp {
    fill: $color-white;
    width: 40px;
    height: 40px;
  }
}