.overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  // &-wrapper {
  //   @include grid-wrapper();
  // }


  &-container {
    height: 100vh; /* Fallback */
    height: calc(var(--vh, 1vh) * 100);
  }
  
  &-exclusion {
    background-color: $color-white;
    height: calc(90vh - 65px);
    height: calc(var(--vh, 1vh) * 90 - 65px);
    right: 0;
    mix-blend-mode: difference;
    position: fixed;
    top: 65px;
    transform: translateX(100%);
    width: 40%;
  }

  &-right {
    @include grid-pre(9);
    @include grid-cell(3);

    background-color: $color-white;
    display: flex;
    flex-direction: column;
    height: 100%;
    // opacity: 0;
    position: relative;
    transform: translateX(161%);

    &Container {
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;

      &:before {
        background-color: $color-white;
        content: '';
        display: block;
        height: 100vh; /* Fallback */
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        position: absolute;
        top: 0;
        left: 100%;
      }
    }

    &:before {
      background-color: $color-white;
      content: '';
      display: block;
      height: calc(100vh - 90vh);
      height: calc(var(--vh, 1vh) * 100 - 90vh);
      width: 61%;
      position: absolute;
      bottom: 0;
      right: 99%;
    }

    &:after {
      background-color: $color-white;
      content: '';
      display: block;
      height: 65px;
      width: 61%;
      position: absolute;
      top: 0;
      right: 99%;
    }
  }

  &-menu {
    align-items: flex-end;
    color: $color-black;
    display: flex;
    justify-content: center;
    flex: 0.5;
    flex-direction: column;

    &Item {
      cursor: pointer;
      overflow: hidden;
      margin: 10px 0;
      padding-bottom: 1px;
      position: relative;
      text-align: right;
      text-transform: uppercase;

      &Button {
        @include typography('menu');

        appearance: none;
        background-color: transparent;
        border: none;
        color: $color-black;
        cursor: pointer;
        margin: 0;
        padding: 0;

        &.is-active {
          font-weight: 700;
        }
      }

      &:after {
        background-color: $color-offBlack;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        width: 100%;
      }

      &.is-hovered {
        &:after {
          transform-origin: left;
          transform: scaleX(1);
        }
      }

      &.not-hovered {
        &:after {
          transform-origin: right;
          transform: scaleX(0);
        }
      }
    }
  }
}