.news {
  @include grid-cell(12);

  border-bottom: 1px solid $color-grey;
  margin-bottom: 60px;
  padding-bottom: 60px;

  &-headline {
    @include typography('h2');

    margin-bottom: 48px;
    text-align: center;
  }

  &-items {
    @include grid-cell(12);

    @include respond-to('medium_small') {
      @include grid-pre(1);
      @include grid-cell(10);
    }

    @include respond-to('medium') {
      @include grid-pre(2);
      @include grid-cell(8);
    }


    margin-bottom: 48px;
  }

  &-item {
    @include grid-cell(12);
    margin-bottom: 32px;
    text-align: left;

    @include respond-to('tiny_small') {
      @include grid-cell(6);
      margin-bottom: 32px;
    }

    @include respond-to('medium_small') {
      @include grid-cell(4, 8);
    }

    &Inner {
      border-radius: 4px;
      box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
      height: 365px;
      padding: 16px;
    }

    &Image {
      display: flex;
      height: 60%;
      margin-bottom: 24px;
      position: relative;
    }
  }

  &-title {
    @include typography('h3-bold');
    margin-bottom: 8px;
    text-align: left;
  }

  &-text {
    @include typography('p');
    margin-bottom: 8px;
  }

  &-link {
    @include typography('link');

    display: inline-block;
    padding-bottom: 2px;
    position: relative;

    &:after {
      background-color: $color-black;
      content: '';
      display: block;
      height: 2px;
      transform-origin: center;
      transform: scaleX(1);
      transition: transform 0.2s;
      width: 100%;
    }

    &:hover {
      &:after {
        transform: scaleX(0);
      }
    }
  }

  &-button {
    @include typography('p');

    appearance: none;
    background-color: $color-black;
    border-radius: 2px;
    border: $color-black;
    color: $color-white;
    display: inline-flex;
    padding: 10px 32px;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 0.15s ease;

    &:hover {
      transform: translate(-50%, -2px);
    }
  }
}